    .header {
        background-color: #000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 6vh;
        align-items: center;
        padding: 0 2vw;
        top: 0;
        position: sticky;
        z-index: 9;
    }

    .logo-txt {
        font-size: 4vh;
        font-weight: bold;
    }

    .hamburger-menu {
        display: none;
    }

    @media only screen and (max-width: 720px) {
        .hamburger-menu {
            display: grid;
            font-size: 4vh;
        }

        .hide-items {
            display: none;
        }
    }